.row-planned td{
	background-color: #76cffc !important;
}
.row-done td{
	background-color: #8afc76 !important;
}
.row-inprogress td{
	background-color: #f8ffa0 !important;
}
.row-expired td {
	background-color: #f98785 !important;
}